/*.img-responsive {
	max-width: 10%;  
	max-height: auto;  
}*/

/*#addTableID {*/
	/*visibility: hidden;*/
/*}*/

#x {
	cursor: pointer
}

/*#addTableID {
	width: 40;
}*/

.fieldError {
	border-color: red;
	border-width: 3px;
}

#errorMessage {
	display: none;
}

#map {
	bottom: 0px;
	height: 100%;
	left: 362px;
	position: absolute;
	right: 0px;
}