/*.img-responsive {
	max-width: 10%;  
	max-height: auto;  
}*/

/*#addTableID {*/
	/*visibility: hidden;*/
/*}*/

#x {
	cursor: pointer
}

body, html {
	background: linear-gradient(to bottom, #f7fbfc 0%,#d9edf2 40%,#add9e4 100%);
}

h1 {
	font-family: 'Pacifico', cursive;
}

.brand-logo {
	font-family: 'Pacifico', cursive;
}

#fixedNav {
	/*height: 10%;*/
	position: fixed;
}

.linkFont {
	color: white;
}

.fieldError {
	border-color: red;
	border-width: 3px;
}

#errorMessage {
	display: none;
}

.newPlayerEntry {
	display: none;
}

html, body {
    height: 100%;
}

#gamesView {
	/*display: inline-block;*/
	float: right;
	width: 28%;
	background-color: red;
	height: 100%;
	overflow: scroll;
}

.listOfPossibleLocations {
	cursor: pointer;
	font-size: 20px;
}

.listOfPossibleLocations:hover {
	font-size: 30px;
	background-color: lightgrey;
}

#map {
	top: 8%;
	float: left;
	/*display: inline-block;*/
	/*bottom: 0px;*/
	height: 100%;
	width: 72%;
	overflow: scroll;
	/*left: 500px;*/
	position: fixed;
	/*right: 0px;*/
}

.inputBox {
	margin-left: 20px;
	margin-right: 20px;
}

.brand-logo {
	margin-left: 14px;
}

.fa-globe {
	display: inline;
}

.fa-calendar {
	margin-left: 5px;
}

.card.card-panel.hoverable {
	width: 390px;
}

select {
  background:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50px' height='50px'><polyline points='46.139,15.518 25.166,36.49 4.193,15.519'/></svg>");
  background-color:#E74C3C;
  background-repeat:no-repeat;
  background-position: right 10px top 15px;
  background-size: 16px 16px;
  color:white;
  padding:12px;
  width:98px;
  font-family:arial,tahoma;
  font-size:14px;
  font-weight:lighter;
  color:#fff;
  text-align:center;
  text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
  border-radius:3px;
  -webkit-border-radius:3px;
  -webkit-appearance: none;
  border:0;
  outline:0;
  -webkit-transition:0.3s ease all;
	   -moz-transition:0.3s ease all;
	    -ms-transition:0.3s ease all;
	     -o-transition:0.3s ease all;
	        transition:0.3s ease all;
}

select:hover {
  background-color:#2980B9;
}

svg:{
	color: white;
}

select:focus, select:active {
  border:0;
  outline:0;
}


